body{
    background-color: #1f011f;
    color: #ffff9b;
    text-align: center;
    font-family: monospace;
}

a{
    color: #a3ffff;
}

div{
    padding: 0.5rem;
    margin: 0.5rem;
    border: 1px solid #ffff9b;
    border-radius: 5px;
    background-color: #1b021b;
}